.container{
display: flex;
justify-content: center;
align-items: center;
flex-flow: row;
margin-bottom: 40px;

.password-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 24px;
  }

  .password_image{
    width: 40%;

    img{
      width: 100%;
      height: 100%;
    }
  }
}

  
  .icon-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f0f7ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    
    svg{
      color: #0066ff;
      font-size: 36px;
    }
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: left;
    color: #333;
  }
  
  .description {
    color: #666;
    margin-bottom: 24px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  .input-group {
    margin-bottom: 24px;
    
    .label {
      display: block;
      font-weight: 500;
      margin-bottom: 8px;
      font-size: 1.6rem;
      color: #333;
    }
    
    .input-wrapper {
      position: relative;
      
      svg {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #999;
        font-size:18px;
      }
      
      .input {
        width: 100%;
        padding: 16px 40px;
        border: 1px solid #ddd;
        color: #999;
        border-radius: 6px;
        font-size: 14px;
        box-sizing: border-box;
        
        &:focus {
          outline: none;
          border-color: #0066ff;
          box-shadow: 0 0 0 2px rgba(0, 102, 255, 0.2);
        }
      }
      
      .visibility-toggle {
        position: absolute;
        right: 45px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        color: #999;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        i {
          font-size: 16px;
        }
        
        &:hover {
          color: #666;
        }
      }
    }
  }
  
  .submit-button {
    width: 100%;
    background-color: #0066ff;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 14px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s;
    
    &:hover {
      background-color: #0052cc;
    }
  }
  
  .input-error {
    border: 1px solid red;
  }
  
  .error-message {
    color: red;
    font-family: "Poppins", system-ui;
    font-size: 12px;
    margin-top: 5px;
  }
  