.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  flex-flow: column;
  // background-image: url(../../../public/assets/images/image5.png);
  background-repeat: no-repeat;
  background-size: cover;

  .main {
    width: 100%;
    margin-top: 88px;
    // padding: 0 60px;
  }
}
