.feature-card {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    background-color: #f9f9f9;


    &:hover{
      transform: scale(1.05);
    }
  }